.elementor-663 .elementor-element.elementor-element-4acac46 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var( --e-global-color-primary);
    --border-color: var( --e-global-color-primary);
    --border-radius: 30px 30px 30px 30px;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-left: 3px;
    --padding-right: 3px;
}

.elementor-663 .elementor-element.elementor-element-4acac46:not(.elementor-motion-effects-element-type-background),
.elementor-663 .elementor-element.elementor-element-4acac46>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-663 .elementor-element.elementor-element-4acac46,
.elementor-663 .elementor-element.elementor-element-4acac46::before {
    --border-transition: 0.3s;
}

.elementor-663 .elementor-element.elementor-element-4dfe34d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-left: 32px;
    --padding-right: 0px;
}

.elementor-663 .elementor-element.elementor-element-7405111 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-663 .elementor-element.elementor-element-7405111.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent);
}

.elementor-663 .elementor-element.elementor-element-7405111.elementor-view-framed .elementor-icon,
.elementor-663 .elementor-element.elementor-element-7405111.elementor-view-default .elementor-icon {
    color: var( --e-global-color-accent);
    border-color: var( --e-global-color-accent);
}

.elementor-663 .elementor-element.elementor-element-7405111.elementor-view-framed .elementor-icon,
.elementor-663 .elementor-element.elementor-element-7405111.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-accent);
}

.elementor-663 .elementor-element.elementor-element-7405111 .elementor-icon {
    font-size: 16px;
}

.elementor-663 .elementor-element.elementor-element-7405111 .elementor-icon svg {
    height: 16px;
}

.elementor-663 .elementor-element.elementor-element-7ecc848 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-file-upload-label {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf_select__control,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__control .mf_multiselect__value-container,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__option,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__menu-notice--no-options {
    padding: 0px 0px 0px 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .range-slider {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-file-upload-label,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-select>.mf_select__control,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-multiselect .mf_multiselect__control,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__option {
    border-style: none;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input,
.elementor-663 .elementor-element.elementor-element-729bd4f .irs--round .irs-single,
.elementor-663 .elementor-element.elementor-element-729bd4f .asRange .asRange-pointer .asRange-tip,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-file-upload-container .mf-input-file-upload-label,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .input-range__label-container {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .input-range .input-range__track {
    border-radius: 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-file-upload-container .mf-input-file-upload-label,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total {
    border-radius: 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-select>.mf_select__control,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-multiselect .mf_multiselect__control,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__option,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__multi-value__label,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__multi-value__remove,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf_multiselect__menu-notice--no-options {
    border-radius: 0px;
}

.elementor-663 .elementor-element.elementor-element-729bd4f :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input::placeholder,
.elementor-663 .elementor-element.elementor-element-729bd4f .mf-time-input::before {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-time-input::before {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input::-webkit-input-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input::-moz-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:-ms-input-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-input:-moz-placeholder {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: var( --e-global-color-1498a3f);
}

.elementor-663 .elementor-element.elementor-element-729bd4f .mf-error-message {
    color: #FF0000;
}

.elementor-663 .elementor-element.elementor-element-f828fab {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-663 .elementor-element.elementor-element-6bc37a2 .mf-btn-wraper {
    text-align: right;
}

.elementor-663 .elementor-element.elementor-element-6bc37a2 .metform-btn {
    background-color: var( --e-global-color-accent);
    padding: 16px 16px 16px 16px;
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-663 .elementor-element.elementor-element-6bc37a2 .metform-btn:hover {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-secondary);
}

.elementor-663 .elementor-element.elementor-element-6bc37a2 .mf-btn-wraper svg {
    width: 18px;
}

.elementor-663 .elementor-element.elementor-element-6bc37a2 .mf-btn-wraper i {
    font-size: 18px;
}

.elementor-663 .elementor-element.elementor-element-4bff6aa .mf-btn-wraper {
    text-align: justify;
}

.elementor-663 .elementor-element.elementor-element-4bff6aa .metform-btn {
    background-color: var( --e-global-color-accent);
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-663 .elementor-element.elementor-element-4bff6aa .metform-btn:hover {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-secondary);
}

@media(max-width:1024px) {
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input,
    .elementor-663 .elementor-element.elementor-element-729bd4f .irs--round .irs-single,
    .elementor-663 .elementor-element.elementor-element-729bd4f .asRange .asRange-pointer .asRange-tip,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-file-upload-container .mf-input-file-upload-label,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .input-range__label-container {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-663 .elementor-element.elementor-element-729bd4f :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input::placeholder,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-663 .elementor-element.elementor-element-6bc37a2 .mf-btn-wraper {
        text-align: right;
    }
    .elementor-663 .elementor-element.elementor-element-4bff6aa .mf-btn-wraper {
        text-align: justify;
    }
}

@media(min-width:768px) {
    .elementor-663 .elementor-element.elementor-element-4dfe34d {
        --width: 70%;
    }
    .elementor-663 .elementor-element.elementor-element-f828fab {
        --width: 30%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-663 .elementor-element.elementor-element-4dfe34d {
        --width: 70%;
    }
    .elementor-663 .elementor-element.elementor-element-f828fab {
        --width: 30%;
    }
}

@media(max-width:767px) {
    .elementor-663 .elementor-element.elementor-element-4acac46 {
        --justify-content: space-between;
    }
    .elementor-663 .elementor-element.elementor-element-4dfe34d {
        --width: 75%;
        --justify-content: flex-start;
    }
    .elementor-663 .elementor-element.elementor-element-7ecc848 {
        --width: 70%;
    }
    .elementor-663 .elementor-element.elementor-element-729bd4f.elementor-element {
        --flex-grow: 1;
        --flex-shrink: 0;
    }
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input,
    .elementor-663 .elementor-element.elementor-element-729bd4f .irs--round .irs-single,
    .elementor-663 .elementor-element.elementor-element-729bd4f .asRange .asRange-pointer .asRange-tip,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-file-upload-container .mf-input-file-upload-label,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-calculation-total,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input-wrapper .input-range__label-container {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-663 .elementor-element.elementor-element-729bd4f :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-input::placeholder,
    .elementor-663 .elementor-element.elementor-element-729bd4f .mf-time-input::before {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-663 .elementor-element.elementor-element-f828fab {
        --width: 18%;
    }
    .elementor-663 .elementor-element.elementor-element-6bc37a2 .mf-btn-wraper {
        text-align: right;
    }
    .elementor-663 .elementor-element.elementor-element-4bff6aa .mf-btn-wraper {
        text-align: right;
    }
}